{
  "openapi": "3.1.0",
  "info": {
    "title": "AssetPay Public API",
    "version": "0.8.3",
    "description": "Public trading API - skin deposits, withdrawals, pricing, client endpoints, and identity verification."
  },
  "servers": [
    {
      "url": "https://api.assetpay.gg",
      "description": "Production"
    },
    {
      "url": "https://api-staging.assetpay.gg",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "Client Authentication",
      "description": "Client token issuance for trading operations"
    },
    {
      "name": "Trading",
      "description": "Core trading operations (trade URL check, pricing)"
    },
    {
      "name": "Client",
      "description": "Client-facing endpoints (inventory, trade history, market)"
    },
    {
      "name": "Deposits",
      "description": "Skin deposit operations"
    },
    {
      "name": "Withdrawals",
      "description": "Skin withdrawal operations"
    },
    {
      "name": "Crypto",
      "description": "End-user USDT/USDC deposit addresses, deposits and cashouts on ETH, BSC and SOL"
    },
    {
      "name": "Verification",
      "description": "Client identity verification via Signicat PictureID (document + selfie)"
    },
    {
      "name": "Wallet",
      "description": "Merchant wallet balance"
    },
    {
      "name": "Ledger",
      "description": "Wallet funding history"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Merchant or admin JWT access token"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Merchant API key (format: ap_...)"
      },
      "ClientToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Client JWT token issued via authenticate-client"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/auth/authenticate-client": {
      "post": {
        "summary": "Authenticate a trading client",
        "description": "Creates a client JWT token for a Steam user. Requires a merchant API key with CORE_ACCESS scope. The returned token is used by the client for inventory, deposit, and withdrawal endpoints.",
        "tags": [
          "Client Authentication"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientSteamId": {
                    "type": "string",
                    "pattern": "^76561\\d{12}$"
                  },
                  "clientTradeUrl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  },
                  "clientData": {
                    "type": "object",
                    "properties": {
                      "totalWager": {
                        "type": "number",
                        "minimum": 0
                      },
                      "registrationDate": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "format": "date-time"
                      },
                      "kycHash": {
                        "type": "string"
                      },
                      "kycLevel": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "fiatDeposits": {
                        "type": "boolean"
                      },
                      "cryptoDeposits": {
                        "type": "boolean"
                      }
                    }
                  },
                  "clientId": {
                    "type": "string",
                    "maxLength": 128
                  }
                },
                "required": [
                  "clientSteamId",
                  "clientTradeUrl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/check-tradeurl": {
      "post": {
        "summary": "Check trade URL validity",
        "description": "Validates a Steam trade URL and checks the user's trade eligibility (bans, escrow, privacy settings). Requires API key with CORE_ACCESS scope. Results are cached for 1 hour unless forceRefresh is true.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tradeurl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  },
                  "forceRefresh": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "tradeurl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade URL check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10,
                          "description": "1=Normal, 2=CS2Banned, 3=RustBanned, 4=Banned, 5=InventoryPrivate, 6=TradeUrlInvalid, 7=UserNotFound, 8=UnknownError, 9=UserNotTradeable, 10=SteamUnavailable"
                        },
                        "steamid": {
                          "type": "string",
                          "description": "Steam ID of the user"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable status message"
                        },
                        "canTrade": {
                          "type": "boolean",
                          "description": "Whether the user can trade"
                        },
                        "reason": {
                          "type": "object",
                          "properties": {
                            "escrowDays": {
                              "type": "integer"
                            },
                            "probation": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "escrowDays",
                            "probation"
                          ],
                          "description": "Trade restriction details"
                        },
                        "bans": {
                          "type": "object",
                          "properties": {
                            "vacBanned": {
                              "type": "boolean"
                            },
                            "gameBans": {
                              "type": "integer"
                            },
                            "economyBan": {
                              "type": "string",
                              "description": "Steam economy ban state: none, probation or banned"
                            }
                          },
                          "required": [
                            "vacBanned",
                            "gameBans",
                            "economyBan"
                          ],
                          "description": "Steam ban record. A VAC ban blocks CS2 deposits (state 2, USER_NOT_TRADEABLE on deposit); game bans and Rust are unaffected"
                        }
                      },
                      "required": [
                        "state",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/prices": {
      "get": {
        "summary": "Get item prices and offers",
        "description": "Returns the current price book for a given game. Each item carries a `deposit` price (what AssetPay pays for the item) and a `withdraw` price (fee-inclusive buy price you can pass straight back to /secure/buy). For CS2, `withdraw` is split into `standard` and `instant` delivery and each entry includes the catalog `itemId`; for Rust, `withdraw` is a single value. Doppler items are returned as a single entry with a `phases[]` breakdown, each phase carrying a deposit price and its own `withdraw.standard`/`withdraw.instant` (a phase often has a standard floor and no instant one, in which case `withdraw.instant` is null); the top-level `deposit`/`withdraw` carry the floor as a default. Withdraw prices already include your merchant fee. Requires API key with CORE_ACCESS scope.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 730
            },
            "required": false,
            "name": "game",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Per-item deposit and withdraw prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "itemId": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "CS2 catalog item id, null when no withdraw floor"
                              },
                              "marketHashName": {
                                "type": "string"
                              },
                              "accepted": {
                                "type": "boolean",
                                "description": "Whether the item is accepted for deposit (deposit price > 0)"
                              },
                              "deposit": {
                                "type": "number",
                                "description": "Deposit offer price in USD (what we pay for the item)"
                              },
                              "withdraw": {
                                "type": "object",
                                "properties": {
                                  "standard": {
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  },
                                  "instant": {
                                    "type": [
                                      "number",
                                      "null"
                                    ]
                                  }
                                },
                                "required": [
                                  "standard",
                                  "instant"
                                ],
                                "description": "Fee-inclusive buy price per delivery mode; null when unavailable"
                              },
                              "phases": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "phase": {
                                      "type": "string",
                                      "enum": [
                                        "Phase 1",
                                        "Phase 2",
                                        "Phase 3",
                                        "Phase 4",
                                        "Ruby",
                                        "Sapphire",
                                        "Black Pearl",
                                        "Emerald"
                                      ],
                                      "description": "Doppler phase label"
                                    },
                                    "accepted": {
                                      "type": "boolean",
                                      "description": "Whether this phase is accepted for deposit (deposit price > 0)"
                                    },
                                    "deposit": {
                                      "type": "number",
                                      "description": "Deposit offer price in USD for this phase (what we pay)"
                                    },
                                    "withdraw": {
                                      "type": "object",
                                      "properties": {
                                        "standard": {
                                          "type": [
                                            "number",
                                            "null"
                                          ]
                                        },
                                        "instant": {
                                          "type": [
                                            "number",
                                            "null"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "standard",
                                        "instant"
                                      ],
                                      "description": "Fee-inclusive buy price in USD for this phase, per delivery mode; either is null when unavailable. A phase often has a standard floor and no instant one."
                                    }
                                  },
                                  "required": [
                                    "phase",
                                    "accepted",
                                    "deposit",
                                    "withdraw"
                                  ]
                                },
                                "description": "Present for Doppler items: per-phase deposit + standard withdraw prices. The top-level deposit/withdraw carry the floor (cheapest phase / grouped floor) as a default."
                              }
                            },
                            "required": [
                              "itemId",
                              "marketHashName",
                              "accepted",
                              "deposit",
                              "withdraw"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "marketHashName": {
                                "type": "string"
                              },
                              "accepted": {
                                "type": "boolean",
                                "description": "Whether the item is accepted for deposit (deposit price > 0)"
                              },
                              "deposit": {
                                "type": "number",
                                "description": "Deposit offer price in USD (what we pay for the item)"
                              },
                              "withdraw": {
                                "type": [
                                  "number",
                                  "null"
                                ],
                                "description": "Fee-inclusive buy price in USD; null when unavailable"
                              }
                            },
                            "required": [
                              "marketHashName",
                              "accepted",
                              "deposit",
                              "withdraw"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/inventory": {
      "get": {
        "summary": "Get Steam inventory (merchant self-trade)",
        "description": "Fetches a Steam account's inventory. The merchant passes a tradeUrl per request and AssetPay derives the steamId from it - no client authentication step is needed. Use this to discover items the merchant can sell to AssetPay via /secure/sell.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                }
              ],
              "default": false
            },
            "required": false,
            "name": "refresh",
            "in": "query"
          },
          {
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                }
              ],
              "default": false,
              "description": "Return only items accepted for deposit (offer.accepted = true)"
            },
            "required": false,
            "description": "Return only items accepted for deposit (offer.accepted = true)",
            "name": "acceptedOnly",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 730
            },
            "required": false,
            "name": "game",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ]
            },
            "required": false,
            "name": "minPrice",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "number",
                "null"
              ]
            },
            "required": false,
            "name": "maxPrice",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
            },
            "required": true,
            "name": "tradeUrl",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory items + collateral",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "inventory": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "On CS2 withdraw items this is the listing id you quoted, unchanged for the item's whole life (the delivered assetid arrives under assetId); cancel endpoints accept it alongside your externalId. On inventory and deposit items it is the encoded item id."
                              },
                              "itemId": {
                                "type": "string",
                                "description": "The parent catalog item this listing belongs to (hex, e.g. \"0010f8d48278ccb8\") — the same id you pass to `/market/item`, while `id` above identifies the individual listing. Present on CS2 `GET /market` rows only: `/market/item` omits it because you named the item in the request, and it is never present on Rust, inventory, deposit or withdraw items."
                              },
                              "externalId": {
                                "type": "string",
                                "description": "Your own per-item reference, when you supplied one at buy time. Cancel accepts it in place of id. Omitted on stacked Rust rows, which stand for several items at once."
                              },
                              "assetId": {
                                "type": "string",
                                "description": "Raw Steam assetid. Always present on inventory listings and deposit trade items. Omitted on withdraw items until the item lands in the recipient's Steam inventory."
                              },
                              "appid": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string",
                                "description": "Omitted on bare withdraw items where AssetPay has no Steam-side metadata yet"
                              },
                              "marketHashName": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "iconUrl": {
                                "type": "string"
                              },
                              "tradable": {
                                "type": "boolean"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "initiated",
                                  "pending",
                                  "active",
                                  "hold",
                                  "completed",
                                  "failed",
                                  "canceled",
                                  "declined",
                                  "reverted"
                                ],
                                "description": "Per-item status (withdrawals only)"
                              },
                              "error": {
                                "type": "string",
                                "enum": [
                                  "LISTING_UNAVAILABLE",
                                  "NO_LISTING_AT_PRICE",
                                  "PRICE_CHANGED",
                                  "TRADE_URL_INVALID",
                                  "STEAM_ACCOUNT_RESTRICTED",
                                  "BUYER_TRADE_RESTRICTED",
                                  "OFFER_NOT_ACCEPTED",
                                  "MARKET_UNAVAILABLE",
                                  "PURCHASE_FAILED"
                                ],
                                "description": "Failure code for a failed withdraw item (withdrawals only)"
                              },
                              "marketPrice": {
                                "type": "number",
                                "description": "Market reference price in USD"
                              },
                              "offer": {
                                "type": "object",
                                "properties": {
                                  "price": {
                                    "type": "number",
                                    "description": "Offer price in USD"
                                  },
                                  "delivery": {
                                    "type": "string",
                                    "enum": [
                                      "standard",
                                      "instant"
                                    ],
                                    "description": "CS2 delivery mode"
                                  },
                                  "maxAmount": {
                                    "type": "number"
                                  },
                                  "accepted": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "price"
                                ]
                              },
                              "exterior": {
                                "type": "string"
                              },
                              "rarity": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "wear": {
                                "type": "string"
                              },
                              "paintSeed": {
                                "type": "integer"
                              },
                              "previewToken": {
                                "type": "string",
                                "description": "Steam inspect/preview token for rendering the item's in-game preview."
                              },
                              "doppler": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "paintIndex": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "fade": {
                                "type": "object",
                                "properties": {
                                  "percentage": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "percentage"
                                ]
                              },
                              "hardened": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "status",
                                  "name"
                                ]
                              },
                              "stickers": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "marketHashName": {
                                      "type": "string"
                                    },
                                    "slot": {
                                      "type": "integer"
                                    },
                                    "wear": {
                                      "type": "number"
                                    },
                                    "iconUrl": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "slot",
                                    "iconUrl"
                                  ]
                                }
                              },
                              "charm": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "marketHashName": {
                                    "type": "string"
                                  },
                                  "iconUrl": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "iconUrl"
                                ]
                              },
                              "botInfo": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "avatar": {
                                    "type": "string"
                                  },
                                  "joined": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "steamId": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ],
                                "description": "Holding bot identity. Present on internal-pool marketplace items."
                              }
                            },
                            "required": [
                              "id",
                              "appid",
                              "tradable"
                            ]
                          }
                        },
                        "count": {
                          "type": "integer"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "collateral": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "inventory",
                        "count",
                        "updatedAt",
                        "collateral"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - validation failed or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency - Steam could not serve the request (inventory fetch failed, temporarily unavailable, or rate-limited upstream). The caller is not at fault; retry shortly.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code (see error-codes.ts)"
                        },
                        "key": {
                          "type": "string",
                          "description": "Machine-readable error key"
                        },
                        "message": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ],
                          "description": "Human-readable, for display and logs only - do not parse it. Wording changes without notice; branch on `key` or `code` instead, and read `fields` for per-field detail. On VALIDATION_FAILED each offending field is named: \"tradeurl: Trade URL must be ...\"."
                        },
                        "fields": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Present only on VALIDATION_FAILED. Maps the dotted path of each rejected field to why it was rejected, one entry per field. Capped at 20 entries; `message` names the first 5."
                        },
                        "details": {
                          "type": "object",
                          "additionalProperties": {},
                          "description": "Structured context for errors that carry it, e.g. ITEM_OVERSTOCKED names the refused items in `details.items`. Absent otherwise."
                        }
                      },
                      "required": [
                        "code",
                        "key",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "requestId",
                    "success",
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/secure/sell": {
      "post": {
        "summary": "Sell skins to AssetPay (merchant self-trade)",
        "description": "Initiates a deposit-style trade where the merchant sends their own Steam items to AssetPay in exchange for USD wallet credit. Pricing must match the latest /secure/prices snapshot. Webhooks fire on state changes.",
        "tags": [
          "Trading"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string",
                          "minLength": 5,
                          "maxLength": 256
                        },
                        "price": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "amount": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 10000,
                          "default": 1
                        }
                      },
                      "required": [
                        "itemId",
                        "price"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 250
                  },
                  "game": {
                    "type": "string",
                    "default": "730"
                  },
                  "externalId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "isInstant": {
                    "type": "boolean",
                    "default": false
                  },
                  "tradeUrl": {
                    "type": "string",
                    "pattern": "^https:\\/\\/steamcommunity\\.com\\/tradeoffer\\/new\\/\\?partner=\\d{1,10}&token=[A-Za-z0-9_-]{8}$"
                  }
                },
                "required": [
                  "items",
                  "tradeUrl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "description": "Unique request identifier"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "deposit",
                            "withdraw"
                          ]
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "client",
                            "self"
                          ],
                          "description": "Trade origin: \"client\" (end-user flow) or \"self\" (merchant self-trade)"
                        },
                        "externalId": {
                          "type": "string"
                        },
                        "externalClientUserId": {
                          "type": "string"
                        },
                        "merchantId": {
                          "type": "string"
                        },
                        "clientUserId": {
                          "type": "string"
                        },
                        "clientTradeUrl": {
                          "type": "string"
                        },
                        "clientSteamID": {
                          "type": "string"
                        },
                        "offerID": {
                          "type": "string",
                          "description": "Steam trade offer id. Present once the offer is sent."
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "initiated",
                            "pending",
                            "active",
                            "hold",
                            "completed",
                            "failed",
                            "canceled",
                            "declined",
                            "reverted"
                          ],
                          "description": "Trade status. In-flight: initiated, pending, active, hold. Terminal: completed, failed, canceled, declined, reverted. Deposit flow: initiated → pending (offer created, awaiting bot confirmation) → active (offer confirmed, offerID present) → hold → completed. Withdraw flow: initiated → pending → active → hold → completed."
                        },
                        "game": {
                          "type": "string"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "On CS2 withdraw items this is the listing id you quoted, unchanged for the item's whole life (the delivered assetid arrives under assetId); cancel endpoints accept it alongside your externalId. On inventory and deposit items it is the encoded item id."
                              },
                              "itemId": {
                                "type": "string",
                                "description": "The parent catalog item this listing belongs to (hex, e.g. \"0010f8d48278ccb8\") — the same id you pass to `/market/item`, while `id` above identifies the individual listing. Present on CS2 `GET /market` rows only: `/market/item` omits it because you named the item in the request, and it is never present on Rust, inventory, deposit or withdraw items."
                              },
                              "externalId": {
                                "type": "string",
                                "description": "Your own per-item reference, when you supplied one at buy time. Cancel accepts it in place of id. Omitted on stacked Rust rows, which stand for several items at once."
                              },
                              "assetId": {
                                "type": "string",
                                "description": "Raw Steam assetid. Always present on inventory listings and deposit trade items. Omitted on withdraw items until the item lands in the recipient's Steam inventory."
                              },
                              "appid": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string",
[...]
